/* Tooltip Styles */
.tooltip-content {
  visibility: hidden;
  /* transition: opacity 0.3s ease; */
  /* opacity: 0; */
  white-space: nowrap;
  /* bottom: -1.5rem; */
  /* Adjust based on spacing needs */
  /* left: 50%; */
  transform: translateX(-50%);
}

.relative:hover .tooltip-content {
  visibility: visible;
  opacity: 0.8;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.color-block {
  height: 100px;
}